<div class="container">
	<div class="neck">
		<div class="stomac">
			<h2>Kreditni kalkulator</h2>


			<%= form_tag(:action => 'kredit') do %>

				<div class="row">
					<div class="col-md-4"><h5>Kreditni parameteri</h5></div>
					<div class="col-md-4"></div>
					<div class="col-md-4"></div>
				</div>
				<div class="row">
					<div class="col-md-4">Iznos trazenog kredita (KM): </div>
					<div class="col-md-4"><%= text_field_tag(:kredit)%></div>	
					<div class="col-md-4"><%= submit_tag("Izracunaj", :class => "btn btn-primary btn-block")%></div>		
				</div>
				<div class="row">
					<div class="col-md-4">Kamatna stopa: </div>
					<div class="col-md-4"><%= text_field_tag(:kamata)%></div>	
					<div class="col-md-4"><%= link_to("Reset", {:action => 'index'}, :class => "btn btn-info btn-block")%></div>		
				</div>
				<div class="row">
					<div class="col-md-4">Mjeseci otplate: </div>
					<div class="col-md-4"><%= text_field_tag(:mjesec)%></div>	
					<div class="col-md-4"></div>		
				</div>

			<%end%>
		</div>
	</div>	
</div>

